.button{
    height: 70px;
    width: 400px;
    background-color: #7081f0;
    font-size: 20px;
    border-radius: 10px;
    border-width: 2px;
}
.div{
    flex-direction: column;
    margin-top: 20px;
}
