.area {
    width: 1200px;
    height: 800px;
    text-align: center;
    background-color: #7a6a8a;
    padding-top: 100px;
    align-items: center;
    margin-left: 350px;
}
.btn {
    align-items: center;
    padding-top: 50px;
    display: inline-flex;
}
.btn2 {
    align-items: center;
    padding-top: 50px;
    display:inline-flex;
}
